*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.clearfix::after{
	content: "";
	display: block;
	clear: both;
}
main{
	width: 960px;
	margin: 50px auto;
}
.step-box{
	width: 300px;
	padding: 10px;
	float: left;
	margin-right: 30px;
	position: relative;
	border :1px solid #C0C0C0;
}
.step-box:last-child{
	margin-right: 0;
}
.item1{
	height: 150px;
	background-image: url(img/flow01.png);
	background-position: bottom;
	background-size: cover;
}
.item2{
	height: 150px;
	background-image: url(img/flow02.png);
	background-position: bottom;
	background-size:cover;
}
.item3{
	height: 150px;
	background-image: url(img/flow03.png);
	background-position: bottom;
	background-size:cover;
}
.step{
	position: absolute;
	left: 0;
	top: 0;
	color: #FFF;
	background-color: #FF9900;
	padding: 3px;
}
.title{
  margin: 15px 0 5px;
}

@media screen and (max-width: 768px){
	main{
		width:100%;
	}
	.step-box{
		margin:0 auto;
		margin-bottom: 20px;
		float: none;
		width: 90%;
	}
	.step-box:last-child{
		margin:0 auto;
		margin-bottom:none;
	}
}